<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>The Lurker made me do it.</title>
    <link href="./css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="./css/vendor/bootstrap-theme.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="js-menu"></div>
    <div class="js-app-container"></div>
    <div class="js-modal-region"></div>


    <script type="text/template" class="js-main-menu">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Movie Manager</a>
      </div>
      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav js-main-menu-list"></ul>
      </div>
    </script>

    <script type="text/template" class="js-menu-item">
          <a href="#<%= url %>"><%= name %></a>
    </script>

    <script type="text/template" class="js-user-item">
      <td>
        <a href='#users/<%= _id %>' class="btn btn-small js-show">
          <i class="glyphicon glyphicon-eye-open"></i>
      <%= lastName %>, <%= firstName %>
        </a>
      </td>
      <td>
        <a class="btn btn-small js-edit-user">
            <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <a class="btn btn-small js-delete">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
      </td>
    </script>


    <script type="text/template" class="js-list-layout">
      <div class="js-panel">
        <button class="btn btn-primary js-new-button">
          <%= button %>
        </button>
      </div>
      <div class="js-table">
      </div>
    </script>

    <script type="text/template" class="js-user-table">
      <thead>
        <tr>
          <th> Name </th>
          <th></th>
        </tr>
      </thead>
      <tbody class="js-user-table-body">
      </tbody>
    </script>

    <script type="text/template" class="js-user-view">
      <div class="modal-dialog">
        <form class="js-edit-form modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              <a class="btn btn-small js-back-button" data-dismiss="modal">
                  <i class="glyphicon glyphicon-arrow-left"></i>
              </a>
              <%= lastName %>, <%= firstName %>
            </h4>
          </div>
          <div class="modal-body">
            <p>
              Email: <%= email %>
            </p>
          </div>
          <div class="modal-footer">
            <a class="btn btn-small js-edit-user">
              <i class="glyphicon glyphicon-pencil"></i>
            </a>
          </div>
        </form>
      </div>
    </script>

    <script type="text/template" class="js-user-edit">
      <div class="modal-dialog">
        <form class="js-edit-form modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              <a class="btn btn-small js-back-button" data-dismiss="modal">
                  <i class="glyphicon glyphicon-arrow-left"></i>
              </a>
              <% if (lastName) { %>
                Edit <%= lastName %>, <%= firstName %>
              <% } else { %>
                Add new User
              <% } %>
            </h4>
          </div>
          <div class="modal-body">
            <label class="control-label">
              <input class="input" name="firstName" type="text" value="<%= firstName %>"
              placeholder="Name" />
            </label>
            <label class="control-label">
              <input name="lastName" type="text" value="<%= lastName %>"
              placeholder="Last Name" />
            </label>
            <label class="control-label">
              <input name="email" type="text" value="<%= email %>"
              placeholder="Email" />
            </label>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success js-save-button">
              Save
            </button>
          </div>
        </form>
      </div>
    </script>

    <script type="text/template" class="js-movie-table">
      <thead>
        <tr>
          <th></th>
          <th> Year </th>
          <th> Title </th>
          <th> Genre </th>
          <th></th>
        </tr>
      </thead>
      <tbody class="js-movie-table-body">
      </tbody>
    </script>

    <script type="text/template" class="js-movie-item">
      <td>
        <a href='#users/<%= _id %>' class="btn btn-small js-show">
          <i class="glyphicon glyphicon-eye-open"></i>
        </a>
      </td>
      <td>
        <%= year %>
      </td>
      <td>
        <%= title %>
      </td>
      <td>
        <%= VideoManager.Constants.Genres[genre].name %>
      </td>      
      <td>
        <a class="btn btn-small js-edit-user">
            <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <a class="btn btn-small js-delete">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
      </td>
    </script>

    <script type="text/template" class="js-movie-edit">
      <div class="modal-dialog">
        <form class="js-edit-form modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              <a class="btn btn-small js-back-button" data-dismiss="modal">
                  <i class="glyphicon glyphicon-arrow-left"></i>
              </a>
              <% if (title) { %>
                Edit <%= title %>
              <% } else { %>
                Add new Movie
              <% } %>
            </h4>
          </div>
          <div class="modal-body">
            <label class="control-label">
              <input class="input" name="title" type="text" value="<%= title %>"
              placeholder="Title" />
            </label>
            <label class="control-label">
              <input class="input" name="year" type="text" value="<%= year %>"
              placeholder="Year" />
            </label>
            <label class="control-label">
              <select name="genre">
                <% for (var i = VideoManager.Constants.Genres.length - 1; i >= 0; i--) {%>
                  <option value="<%= VideoManager.Constants.Genres[i].id %>"
                    <% if (genre === i) { %>
                      selected
                    <% } %>
                  >
                    <%= VideoManager.Constants.Genres[i].name %>
                  </option>
                <% }; %>
              </select>
            </label>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success js-save-button">
              Save
            </button>
          </div>
        </form>
      </div>
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="./js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/vendor/underscore.min.js"></script>
    <script type="text/javascript" src="./js/vendor/backbone.min.js"></script>
    <!-- script type="text/javascript" src="./js/vendor/backbone.localstorage.min.js"></script -->
    <script type="text/javascript" src="./js/vendor/backbone.picky.min.js"></script>
    <script type="text/javascript" src="./js/vendor/backbone.syphon.min.js"></script>
    <script type="text/javascript" src="./js/vendor/backbone.marionette.min.js"></script>

    <script type="text/javascript" src="./js/app.js"></script>
    <!-- script type="text/javascript" src="./js/apps/config/storage/localstorage.js"></script -->
    <script type="text/javascript" src="./js/entities/navigation.js"></script>
    <script type="text/javascript" src="./js/entities/genres.js"></script>
    <script type="text/javascript" src="./js/entities/user.js"></script>
    <script type="text/javascript" src="./js/entities/movie.js"></script>


    <script type="text/javascript" src="./js/apps/navigation/navigation_app.js"></script>
    <script type="text/javascript" src="./js/apps/navigation/menu/menu_view.js"></script>
    <script type="text/javascript" src="./js/apps/navigation/menu/menu_controller.js"></script>

    <script type="text/javascript" src="./js/apps/users/users_app.js"></script>
    <script type="text/javascript" src="./js/apps/users/common/views.js"></script>    
    <script type="text/javascript" src="./js/apps/users/list/list_view.js"></script>
    <script type="text/javascript" src="./js/apps/users/list/list_controller.js"></script>
    <script type="text/javascript" src="./js/apps/users/show/show_view.js"></script>
    <script type="text/javascript" src="./js/apps/users/show/show_controller.js"></script>
    <script type="text/javascript" src="./js/apps/users/edit/edit_view.js"></script>
    <script type="text/javascript" src="./js/apps/users/edit/edit_controller.js"></script>
    <script type="text/javascript" src="./js/apps/users/new/new_view.js"></script>
    <script type="text/javascript" src="./js/apps/movies/movies_app.js"></script>
    <script type="text/javascript" src="./js/apps/movies/common/views.js"></script> 
    <script type="text/javascript" src="./js/apps/movies/list/list_view.js"></script>
    <script type="text/javascript" src="./js/apps/movies/list/list_controller.js"></script>
    <script type="text/javascript" src="./js/apps/movies/edit/edit_view.js"></script>
    <script type="text/javascript" src="./js/apps/movies/edit/edit_controller.js"></script>
    <script type="text/javascript" src="./js/apps/movies/new/new_view.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        VideoManager.start();
      });

    </script>

  </body>
</html>