<div class="modal-dialog">
  <form class="js-edit-form modal-content">
    <div class="modal-header">
      <h4 class="modal-title">
        <a class="btn btn-small js-back-button" data-dismiss="modal">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </a>
        <%= lastName %>, <%= firstName %>
      </h4>
    </div>
    <div class="modal-body">
      <p>
        Email: <%= email %>
      </p>
    </div>
    <div class="modal-footer">
      <a class="btn btn-small js-edit-user">
        <i class="glyphicon glyphicon-pencil"></i>
      </a>
    </div>
  </form>
</div>